body{
    background: url("../images/01.png") no-repeat center center fixed;
    background-size: cover;
}

.container{
    margin-top: 30px;
    padding: 100% auto;

}
.col-sm-7 ,.col-sm-4{
    background: rgba(255,255,255,0.9);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;

}
h1.title{
    font-size: 60px;
    text-align: right;
    color: rgba(0,0,0,0.5);
}

#diary{
    width: 100%;
    height: 500px!important;
    resize: none;
}
